html, body {
  height: 100%;
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #2B2B2B;
  height: 20%;
}

main {
  height: 80%;
}

h1 {
  display: block;
}

h4 {
  margin-left: 15px;
}

p {
  margin: 0;
  margin-left: 15px;
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
}

input {
  background-color: transparent;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2px;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px black;
  min-height: 400px;
  width: 23%;
  margin-bottom: 10px;
}

.link {
  background-color: #EFEFEF;
  font-size: 10px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  width: 80%;
  word-break: break-all;
}

.icon {
  position: relative;
  top: 100px;
}

.logo {
  float: right;
  height: 100px;
  margin-top: 30px;
  position: absolute;
  right: 0px;
  width: 150px;
}

.top-section {
  height: 132px;
}

.top1 {
  background: url('images/malcolm.jpg') no-repeat 0 -20px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top2 {
  background: url('images/inara.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top3 {
  background: url('images/jayne.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top4 {
  background: url('images/book.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top5 {
  background: url('images/simon.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top6 {
  background: url('images/kaylee.jpg') no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top7 {
  background: url('images/river.jpg') no-repeat 0 -25px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.top8 {
  background: url('images/zoe.jpg') no-repeat 0 -30px;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: darkgrey;
}

.arrow {
  height: 50px;
  width: 50px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

.views {
  margin-left: 80%;
  padding-top: 10px;
  text-align: center;
  color: white;
  font-size: 10px;
}

#view-number {
  font-size: 25px;
  padding-top: 3px;
}

#name {
  color: #727272;
  margin-top: 10px;
}

#date {
  color: #D2D3D4;
  font-size: 12px;
  margin-top: 3px;
}

#playlist {
  color: #727272;
  margin-top: 25px;
  font-size: 12px;
}

#namePlaylist {
  color: #727272;
  margin-top: 3px;
}

#attachment {
  color: #727272;
  font-size: 12px;
  margin-top: 25px;
}

#number {
  color: #ff6600;
  font-size: 25px;
}

#admin {
  float: right;
  margin-top: 5px;
  margin-left: 15px;
}

#logo {
  float:right;
  border: 1px solid black;
}

#share-btn {
  color: white;
}

#playlist-btn {
  color: #929292;
}

#personal-btn {
  color: #929292;
}

#admin {
  color: #929292;
  display: inline;
}


@media screen and (max-width: 680px) {
  .card {
    width: 50%;
  }
}

@media screen and (max-width: 546px) {
  button {
    display: block;
  }

  .card {
    width: 50%;
  }

  .icon {
    margin-top: 0;
    margin-bottom: 10px;
    top: 0;
    padding: auto;
    margin-left: 15px;
  }

  .logo {
    float: right;
    margin: 0;
    top: 20px;
  }

  #admin {
    position: absolute;
  }

}

@media screen and (max-width: 350px) {
  .card {
    width: 100%;
  }
}
