html, body {
  height: 100%;
  width: 100%;
  background-color: #EFEFEF;
}

header {
  height: 20%;
  width: 100%;
  background-color: #2B2B2B;
}

main {
  height: 80%;
  width: 100%;
}

h1 {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2px;
}

.card {
  height: 400px;
  width: 23%;
  box-shadow: 1px 1px 5px black;
  background-color: #FFFFFF;
}

.card-top {
  margin-bottom: 10px;
}

.suit {
  height: 30%;
  width: 100%;
}

.link {
  font-size: 10px;
  width: 80%;
  word-break: break-all;
  margin: auto;
  background-color: #EFEFEF;
  padding: 5px;
}
